<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

    <title><%= htmlWebpackPlugin.options.data.title %></title>
    <link href="./css/common_css.css" rel="stylesheet">
    <link href="./css/<%= htmlWebpackPlugin.options.data.css %>.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <!--top-menu start-->
        <%- include ../../parts/topMenu.ejs%>
        <!--top-menu end-->

        <div class="mainContainerSection fullWidth left">
            <div class="container">
                <!--CONTENT TOP-->
                <%- include ../../parts/menuInfoSection.ejs %>
                <!--/* ORDER-TOP*/-->
                <div class="tittleOrderForm">Оформление заказа</div>
                <div class="formOrderMain">
                    <div class="itemsInCart">


                        <div class="tableWrapperInOrder">
                            <table class="tableWrapperInOrdertable__table">
                                <thead>
                                <tr>
                                    <th>Фото</th>
                                    <th>Описание</th>
                                    <th>Кол-во</th>
                                    <th>Цена</th>
                                    <th>Уд.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td data-label="Фото"><img class="imgINOrderTable" src="img-static/life.png" alt=""></td>
                                    <td data-label="Описание">Черный пластиковый чехол Soft Touch для MacBook Pro 13" Retinat</td>
                                    <td data-label="Кол-во">
                                        <div class="countCartInTableContainer">
                                            <button  class="countCartInTableContainer__countMinus">-</button>
                                            <input value="2" class="countCartInTableContainer__count"></input>
                                            <button class="countCartInTableContainer__countPlus">+</button>
                                        </div>
                                    </td>
                                    <td data-label="Цена"><span>12.4</span><span> ua</span></td>
                                    <td  data-label="Удалить"><span class="deleteCross">X</span></td>
                                </tr>
                                <tr>
                                    <td data-label="Фото"><img class="imgINOrderTable" src="img-static/1.png" alt=""></td>
                                    <td data-label="Описание">Белый пластиковый чехол Soft Touch для MacBook Pro 13" Retina</td>
                                    <td data-label="Кол-во">
                                        <div class="countCartInTableContainer">
                                            <button  class="countCartInTableContainer__countMinus">-</button>
                                            <input value="2" class="countCartInTableContainer__count"></input>
                                            <button class="countCartInTableContainer__countPlus">+</button>
                                        </div>
                                    </td>
                                    <td data-label="Цена"><span>2312</span><span> ua</span></td>
                                    <td  data-label="Удалить"><span class="deleteCross">X</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="allPriceForItems">
                            <span class="allPriceForItems_text">ВСЕГО К ОПЛАТЕ:&nbsp;&nbsp;</span>
                            <span class="allPriceForItems_price">3452</span>
                            <span class="allPriceForItems_text" >&nbsp;грн.</span>
                        </div>




                    </div>
                    <div class="userWaysContainer">
                        <div class="userWays">
                            <div class="tittleWAyName" data-count="1">Способ доставки</div>

                            <ul class="accordion">
                                <li class="accordion_item">
                                    <input type="radio" class="accordion_toggle" name="accordion-01" id="toggle-01" checked>
                                    <label class="accordion_trigger" for="toggle-01">Доставка по Украине "Новая
                                        Почта"</label>
                                    <label for="toggle-01"></label>
                                    <div class="accordion_target">
                                        <p class="">
                                            Быстрый и удобный способ доставки службой Новая Почта в любой населенный пункт
                                            Украины.
                                        </p>
                                    </div>
                                </li>
                                <li class="accordion_item">
                                    <input type="radio" class="accordion_toggle" name="accordion-01" id="toggle-02">
                                    <label class="accordion_trigger" for="toggle-02">Доставка по Украине "Интайм"</label>
                                    <div class="accordion_target">
                                        <p>
                                            Качественная и быстрая доставка в Ваш город, по приятным ценам
                                        </p>
                                    </div>
                                </li>
                                <!--<li class="accordion_item">-->
                                <!--<input type="radio" class="accordion_toggle" name="accordion-01" id="toggle-03" >-->
                                <!--<label class="accordion_trigger" for="toggle-03">Заголовок панели 3</label>-->
                                <!--<div class="accordion_target">-->
                                <!--<p>-->
                                <!--Здесь размещаете любое содержание....-->
                                <!--</p>-->
                                <!--</div>-->
                                <!--</li>-->
                                <!--<li class="accordion_item">-->
                                <!--<input type="radio" class="accordion_toggle" name="accordion-01" id="toggle-04" >-->
                                <!--<label class="accordion_trigger" for="toggle-04">Заголовок панели 4</label>-->
                                <!--<div class="accordion_target">-->
                                <!--<p>-->
                                <!--Здесь размещаете любое содержание....-->
                                <!--</p>-->
                                <!--</div>-->
                                <!--</li>-->
                            </ul>

                            <div class="tittleWAyName" data-count="2">Способ оплаты</div>
                            <div class="paymentWayOrder">
                                <select>
                                    <option>Пункт 1</option>
                                    <option>Пункт 2</option>
                                </select>
                            </div>

                            <div class="tittleWAyName" data-count="3">Способ доставки</div>

                            <div class="userDataForOrder">
                                <p>Имя и фамилия <span class="red">*</span></p>
                                <input type="text" class="orderWaysInput" id="nameInput">
                                <p>Мобильный телефон <span class="red">*</span></p>
                                <input type="text" class="orderWaysInput" id="phoneInput">
                                <p>Адресс доставки <span class="red">*</span></p>
                                <input type="text" class="orderWaysInput" id="cityInput">
                                <p>Электронная почта</p>
                                <input type="text" class="orderWaysInput" id="mailInput">
                            </div>

                            <div class="orderWaysConfirmBtn"><span>Подтвердить</span></div>
                        </div>
                    </div>
                </div>
                <!--/* ORDER-BOTTOM*/-->


                <!--CONTENT FOOTER -->
            </div>
        </div>
    </div>

    <!--<div class="fullHeight"></div>-->
    <!--footer start-->
    <%- include ../../parts/footer.ejs %>
    <!--footer end-->

</div>
</body>

<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/common_css.js"></script>
<script type="text/javascript" src="../js/all.js"></script>
<script type="text/javascript" src="js/<%= htmlWebpackPlugin.options.data.js %>.js"></script>
</html>